@font-face {
    font-family: "Inter";
    src: url(/src//font/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: clamp(18px, 1.5vw, 50px);
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
input, button, textarea, select {
    font: inherit;
  }

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

#root, #__next {
    isolation: isolate;
}
.container {
  width: 100%;
  height: 100%;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

#content {
  width: 80%;
  height: 100%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: aqua;
}
.restaurant:not(.restaurant-name) {
  flex: 1;
  width: 50%;
  text-align: center;
  border:  1px solid black;
}